---
---

@import "bootstrap";

$navbar-height: 56px;
body {
  padding-top: $navbar-height + 14px;
}

// img {
//   margin-bottom: 24px; 
//   margin-top: 17px; 
//   border-radius:2%;
// }


/* News */
#newsid p {
  text-align: left;
}

#newsid img {
  margin-top: 6px;
  margin-bottom: 6px;
}


/* Team & Publications */
#gridid img { margin: 16px 22px 6px 0; border-radius:10%; box-shadow: 2px 2px 5px #888888 }
#homeid img { margin: 0 0 0 0; border-radius:5%; box-shadow: 0px 0px 0px #888888 }
#picid img { margin: 6px 3px 60px 6px; border-radius:1%; box-shadow: 2px 2px 5px #888888 }
#gridid .row { margin-bottom: 24px; }


/* Carousel */
// The following centers the images and ensures they fill the box
$carousel-height: 250px;
#vectrCarousel .carousel-item {
  height: 100%;
}
#vectrCarousel img {
  display: block;
  object-fit: cover;
  min-height: 100%;
  transform: translateY(-50%);
  margin-top: $carousel-height / 2;
}
#vectrCarousel {
  height: $carousel-height;
  margin-bottom: 20px;
}
