---
---

@import "bootstrap";

$navbar-height: 77px;
body {
  padding-top: $navbar-height + 14px;
}

.vectr-text-container {
  @extend .container-fluid;
  max-width: 1080px;
}

.vectr-wide-container {
  @extend .container-lg;
}

/* Navbar */
#vectrNavbar img {
  height: 65px;
  transition: 0.4s;
}
#vectrNavbar.vectr-shrunk img {
  height: 45px;
}

/* Members */
#members ul {
  transform: translate(1rem, 0);
}

/* Carousel */
#vectrCarousel {
  height: 25vw; // roughly keep aspect-ratio
  min-height: 250px;
  margin-bottom: 20px;
  background-color: black;
  position: relative;
}
#vectrCarousel .carousel-item {
  height: 100%;
}
#vectrCarousel img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
#vectrCarousel .vectr-carousel-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#vectrCarousel .vectr-darken {
  background-color: rgba(0, 0, 0, 0.5);
}
