<div id="vectrCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="4000" data-bs-pause="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#vectrCarousel" data-bs-slide-to="0" class="active" aria-current="true"></button>
    <button type="button" data-bs-target="#vectrCarousel" data-bs-slide-to="1"></button>
  </div>

  <!-- Items -->
  <div class="carousel-inner h-100">
    <div class="carousel-item active">
      <img src="/images/carousel/sculpture_garden.png">
      <div class="vectr-carousel-text vectr-darken">
        <div>
          <!-- <h1>VECTR at UCLA</h1> -->
          <h2>Verifiable & Control-Theoretic Robotics Laboratory</h2>
          <p class="lead">University of California, Los Angeles</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/dummy.png">
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#vectrCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#vectrCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
